/* ==========================
   GLOBAL RESET
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}


/* ==========================
   BODY
========================== */

body {
    font-family: "Inter", Arial, sans-serif;
    background: linear-gradient( 135deg, #edf6ef, #dcedc8);
    color: var(--text);
    /* navbar spacing */
    padding-top: 80px;
    /* bottom breathing space */
    padding-bottom: 90px;
}


/* ==========================
   PAGE WRAPPER
========================== */

.app,
.home-page,
.dashboard,
.tasks-page,
.calendar-page,
.settings-page {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 30px;
}

.main-content {
    width: 100%;
}


/* ==========================
   COMMON CONTENT
========================== */

.page-content {
    width: 100%;
    padding-bottom: 100px;
}


/* ==========================
   SECTION HEADER
========================== */

.section-header {
    margin-bottom: 30px;
}

.section-header h1 {
    color: var(--primary);
    margin-bottom: 10px;
}

.section-header p {
    color: var(--soft-text);
    line-height: 1.6;
}


/* ==========================
   COMMON SECTION
========================== */

.section {
    margin-bottom: 30px;
}


/* ==========================
   REMINDER MANAGER
========================== */

.reminder-manager {
    position: relative;
    z-index: 10;
    margin: 20px auto;
    width: fit-content;
}


/* ==========================
   TABLET
========================== */

@media (max-width:992px) {
    .app,
    .home-page,
    .dashboard,
    .tasks-page,
    .calendar-page,
    .settings-page {
        padding: 30px 20px;
    }
}


/* ==========================
   MOBILE
========================== */

@media (max-width:700px) {
    .app,
    .home-page,
    .dashboard,
    .tasks-page,
    .calendar-page,
    .settings-page {
        max-width: 100%;
        padding: 20px 15px;
    }
}