/* ==========================
   GLOBAL RESET
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}


/* ==========================
   BODY
========================== */

body {
    font-family: "Inter", Arial, sans-serif;
    background: linear-gradient(135deg, #edf6ef, #dcedc8);
    color: var(--text);
    padding-top: 80px;
    padding-bottom: 90px;
}


/* ==========================
   PAGE WRAPPER
========================== */

.app,
.home-page,
.dashboard,
.tasks-page {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 30px;
}


/* ==========================
   COMMON CONTENT
========================== */

.page-content {
    width: 100%;
    padding-bottom: 100px;
}


/* ==========================
   COMMON SECTION
========================== */

.section {
    margin-bottom: 30px;
}


/* ==========================
   TABLET
========================== */

@media (max-width: 992px) {
    .app,
    .home-page,
    .dashboard,
    .tasks-page {
        padding: 30px 20px;
    }
}


/* ==========================
   MOBILE
========================== */

@media (max-width: 700px) {
    .app,
    .home-page,
    .dashboard,
    .tasks-page {
        max-width: 100%;
        padding: 20px 15px;
    }
}